:root {
  --light-blue: lightblue;
  --light-blue-alt: rgb(182, 218, 230);
  --default-dk-blue: #373b69;
  // --dk-blue-alt: #51536c;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.home-container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .home-container .home-two-row-grid > h1 {
    color: #fff;
    font-size: 100px;
    // margin-top: -100px;
    margin-bottom: 350px;
    letter-spacing: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    color: var(--light-blue-alt);
  }
  
/* Grids */

.home-two-row-grid {
  display: grid;
  grid-template: 1fr 1fr;
}

/* Grids */

/* Main Search Starts */

.main-search-container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;

    input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    // margin: auto;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: var(--default-dk-blue);
    color: white;
    text-shadow: 0 0 10px var(--light-blue);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 var(--absolute-purple),
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    // opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    cursor: pointer;
    width: 300px;
    opacity: 1;
    cursor: text;
    // &:hover {
    //   cursor: pointer;
    // }
    // &:focus {
    //   width: 300px;
    //   opacity: 1;
    //   cursor: text;
    // }
    // &:focus ~ .search {
    //   right: -250px;
    //   background: #151515;
    //   z-index: 6;
    //   &::before {
    //     top: 0;
    //     left: 0;
    //     width: 25px;
    //   }
    //   &::after {
    //     top: 0;
    //     left: 0;
    //     width: 25px;
    //     height: 2px;
    //     border: none;
    //     background: white;
    //     border-radius: 0%;
    //     transform: rotate(-45deg);
    //   }
    // }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}

.main-search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: var(--absolute-purple);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

// search-container not used
.search-container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: var(--absolute-purple);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: var(--default-dk-blue);
    color: white;
    text-shadow: 0 0 10px var(--light-blue);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 var(--absolute-purple),
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}
/* Main Search Ends */